@model Cart

<div>
    @if (Model.Lines.Any())
    {
        <small class="navbar-text text-white me-2">
            <b>Your cart:</b>
            @Model.Lines.Sum(x => x.Quantity) item(s),
            @Model.ComputeTotalValue().ToString("c")
        </small>
    }

    <a class="btn btn-sm btn-secondary"
       asp-page="/Cart"
       asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
    </a>
</div>